<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="assets/css/core.css" rel="stylesheet" type="text/css" /> -->

    <link href="../assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/dataTables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/karl.css" rel="stylesheet" type="text/css" />

    <title>School Management System</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">

            <br>

            <div class="row">
                <div class="card aligns-item-center" style="width: 1200px; height:800px">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/home.png" alt="">
                                        </center>
                                    </div>
                                    <button type="button" class="btn btn-light btn-lg btn-block">Home</button>
                                </div>
                            </div>
                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/icons8-schedule-100.png" style="width:80px; height:80px;">
                                        </center>
                                    </div>

                                    <a href="academic.html" class="btn btn-light btn-lg btn-block">Academics</a>

                                </div>
                            </div>
                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/icons8-schedule-100.png" style="width:80px; height:80px;">
                                        </center>
                                    </div>
                                    <button type="button" class="btn btn-light btn-lg btn-block">Add-</button>
                                </div>
                            </div>
                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/icons8-admin-settings-male-80.png" style="width:80px; height:80px;">
                                        </center>
                                    </div>
                                    <button type="button" class="btn btn-light btn-lg btn-block">Academic</button>


                                </div>
                            </div>
                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/icons8-gear-80.png" style="width:80px; height:80px;">
                                        </center>
                                    </div>
                                    <button type="button" class="btn btn-light btn-lg btn-block">HR</button>
                                </div>
                            </div>
                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/icons8-gear-80.png" style="width:80px; height:80px;">
                                        </center>
                                    </div>
                                    <button type="button" class="btn btn-light btn-lg btn-block">Settings</button>
                                </div>


                            </div>

                        </div>

                        <br>

                        <div class="row">

                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/icons8-add-user-group-man-man-80.png" style="width:80px; height:80px;">
                                        </center>
                                    </div>
                                    <button type="button" class="btn btn-light btn-lg btn-block">Account</button>

                                </div>
                            </div>
                            <div class="col-md-2 col-ms-6">
                                <div class="card">
                                    <div class="card-body">
                                        <center>
                                            <img src="../assets/images/icons8-books-80.png" style="width:80px; height:80px;">
                                        </center>
                                    </div>
                                    <button type="button" class="btn btn-light btn-lg btn-block">Librairie</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>















    <script>
        window.$ = window.jQuery = require('jquery');
    </script>

    <script>
        require('../renderer.js');
    </script>



    <script src="../assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="../assets/plugins/jquery-ui/jquery.form.min.js"></script>
    <script src="../assets/plugins/daterangepicker/daterangepicker.min.js"></script>
    <script src="../assets/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="../assets/plugins/dataTables/jquery.dataTables.bootstrap.js"></script>
</body>

</html>